# Server Configuration
PORT=5001
NODE_ENV=development

# MongoDB Connection
MONGODB_URI=mongodb+srv://shashankreddy:Shashi22@cluster0.pf1tu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# CORS Origins (comma-separated)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://yourdomain.com
